#play-field{
    width: 350px;
    height: 350px;
    box-sizing: content-box;
    /*border: 1px solid black;*/
    padding: 0px;
}

.block-cell{
    width: 80px;
    height: 80px;
    float: left;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    border: 1px solid black;
}

.block-cell:hover{
    background: lightgray;
}

.empty {
    height: 10px;
}

.div_timer{
    width: 320px;
    text-align: center;
    background: #a2c3dd;
}

.div_btn_start{
    width: 320px;
}

.white{
    background: white;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}
.blue{
    background: blue;
}
.magenta{
    background: magenta;
}
.orange{
    background: orange;
}
.gray{
    background: gray;
}
.black{
    background: black;
}